<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 50px; box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);">
  <img src="{{headerData[0].bodhee_icon}}" alt='Bodhee Logo' style='width:2.5em;'>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          NLM Plant
        </a>
       
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" style='font-weight: 600;'
      aria-haspopup="true" aria-expanded="false">Nataraj SOORKOD
  </div>
  
    </form>
    <img src="..\assets\png\abb_logo.png" alt='Client Logo' style='width:4rem;'>
  </div>
  
</nav>